Django>=4.0
gunicorn
psycopg2-binary
dj-database-url
whitenoise
python-dotenv
djangorestframework
djangorestframework-simplejwt
django-cors-headers
Pillow
cloudinary==1.45.0
django-cloudinary-storage==0.3.0